.countdown_full {
  background: url("./background.jpg") no-repeat center center fixed;
  margin: 0;
  background-size: cover;
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  user-select: none;
}
h1 {
  font-size: 4rem;
}

.countdown_container {
  display: inline-flex;
}

.big_text {
  line-height: 1;
  font-size: 5rem;
  margin: -1rem 3rem;
}

.count_dm {
  text-align: center;
}

.count_dm span {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
}
