.typing-whole-container{
    height: 100vh;
    background-color: #74535b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.typing-whole-container .Info-container{
background-color: #703140;
width: 600px;
height: auto;

}
.typing-whole-container .words-container{
    padding: 1rem;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
}
.typing-whole-container .Info-container span{
    font-size:20px;
    letter-spacing: 1px;
}


.typing-whole-container .typed{
    color:brown;
}


.typing-whole-container .speed-container{
    font-size: 1.5rem;
    text-align: left;
}

.typing-whole-container .tools-container{
    width: 600px;
    
}


@media (max-width:500px){
    .typing-whole-container .Info-container{
        background-color: #703140;
        width: 80%;
        height: auto;
        
        
        }

        .typing-whole-container .tools-container{
            width: 80%;
            
        }
        
}
