.mid_con {
    position: absolute;
    margin-top: 10rem;
    left: 50%;
    transform: translateX(-50%);
}
.dishes_container {
    width: 325px;
    background-color: white;
    border-radius: 5px;

    display: inline-block;
}

.dishes_head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.search_input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 0.25rem;
    width: 100%;
}

.search_button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.search_button:hover {
    color: darkgray;
}
.fav_container {
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 10px 2px #3333;
    border-radius: 5px;
}

.fav_meals_ul {
    position: relative;
    overflow-x: auto;
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    overscroll-behavior: contain;
}

.fav_meals_ul::-webkit-scrollbar {
    height: 0;
}
.fav_meals_items {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    box-shadow: 0 0 10px 2px #3333;
    margin: 5px;
    border-radius: 5px;
    min-height: 142px;
}

.select_false {
    user-select: none;
}
.fav_list_image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle_image {
    border: 2px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    width: 60px;
}

.inline_span {
    overflow: hidden;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 10px;
    width: 100px;
    text-align: center;
    bottom: 0;
    height: 62px;
    cursor: default;
}

.delete_fav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
}

.fav_meals_items:hover .delete_fav {
    opacity: 1;
}

.meal {
    margin: 1rem;

    box-shadow: 0 0 10px 2px #3333;
    border-radius: 3px;
    overflow: hidden;
}

.meal_header {
    position: relative;
    cursor: pointer;
}

.random_meal {
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 0.25rem 0.8rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
}

.meal_img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    visibility: hidden;
}

.margin_0 {
    margin: 0;
}

.name_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.favorite_button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: grey;
    outline: none;
}

.favorite_button.active {
    color: #fc5c5c;
}

.meal_info_container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.meal_info {
    background-color: white;
    border-radius: 5px;
    max-width: 400px;
    max-height: 700px;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}

.meal_info::-webkit-scrollbar {
    width: 0px;
}

.text_center {
    text-align: center;
}

.close_popup {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    right: 20px;
    outline: none;
    position: absolute;
}

.close_popup:hover {
    color: lightblue;
}

.image_fit {
    width: 100%;
}
