.tic-tac-whole-container{
    background-color: #eec0c8;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.tic-tac-whole-container .game-container{
    width: 450px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tic-tac-whole-container .tick-box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}



.tic-tac-whole-container .tick-box .fa-circle{
    font-size:7rem !important;
}

.tic-tac-whole-container .who-container{
    background-color: #FFC0CB;
    width: 400px;
    align-self: center;
    margin: 0 auto;
    height: 130px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tic-tac-whole-container .who-container button{
    cursor: pointer;
    padding: .4rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
}
.tic-tac-whole-container .who-container button:active{
    border-bottom: 2px solid black;
}

.tic-tac-whole-container .who-container  .button-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.tic-tac-whole-container .winner-container{
    width: 200px;
    height: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 40rem;

}

.tic-tac-whole-container .winner-container span{
    margin-top: -10px;
}
.tic-tac-whole-container .restart-button{
    position: absolute;
    bottom: 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


@media (max-width:500px){
    .tic-tac-whole-container .game-container{
        width: 90%;
        height: 450px;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }

    
.tic-tac-whole-container .tick-box{
    width: 33%;
    height: 33%;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}

.tic-tac-whole-container .tick-box .fa-circle{
    font-size: 100% !important;
}

.tic-tac-whole-container .who-container{
    background-color: #FFC0CB;
    width: 90%;
    align-self: center;
    margin: 0 auto;
    height: 130px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
}