

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #90dbe9;
    user-select: none;
    flex-direction: column;
    min-height: 100vh;
    height: auto;

}

.weather-container .mid-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(#113076 9%,#157fba);
    width: 900px;
    height: auto;
    margin: 6rem;
    position: relative;
}

.weather-container .container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    min-height: 470px;
    
}

.weather-container .searchInput {
    margin-top: 50px;
    outline: none;
    padding: .75rem 2rem;
    border-radius: 2rem;
    border: none;
}

.weather-container .weatherinfo-container img {
    width: 70%;
}

.weather-container .weatherinfo-container {
    background-color: rgba(255, 255, 255, .22);
    width: 700px;
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    position: relative;
    height: 230px;
    
}
#all-hours-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
}

.hourly-container{
    background-color: rgba(255, 255, 255, .22);
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.weather-container .info-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    max-height: 150px;

}

.weather-container .weatherinfo-container span {
    padding: .5rem;
    font-weight: bold;
    color: white;
}

.weather-container .weather-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlow{
    padding: 0 !important;
}
.weather-container .weather-form button{
    width: 50%;
    border-radius: 5px;
    outline: none;
    padding: .6rem;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
}

.left-side-box{
    width: 100px;
    position:absolute;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options-container{

    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.4rem;
    width: 60%;
    align-self: center;
}

#options-container .options-button{
    padding: .4rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;   
    height: 40px;
}

.option-selected{
    background-color: black;
    color: white;
}

.daily-weather-container{
    margin: 1rem;
    width: 90%;
    height: 150px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
}

#daily-weather-name{

    position: absolute;
    font-size: 4rem;
    color: white;
    left: 3rem;
    top: 12rem;
    font-weight: bold;
}

@media(max-width:500px){
    .weather-container .container {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: 400px;
        width: 90%;
        
    }
}